.logo {
  margin-top: 20px;
  margin-left: 20px;
  width: 5%;
}

.mode {
  position: absolute;
  top: 6px;
  right: 4.5em
}

.switch {
  position: absolute;
  display: inline-block;
  top: 6px;
  right: 10px;
  outline: none;
  width: 50px;
  height: 22px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  bottom: -1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 500px) {
  .logo {
    width: 10%
  }
  .mode {
    margin-top: 0px;
    margin-left: 20px;
  }
}